.node_bus {
    fill: black;
    stroke-width: 3;
}

.node_generator {
    fill: grey;
    stroke-width: 1;
    stroke: grey;
}

.node {
    stroke-width: 1;
    stroke: grey;
}

.node.wind {
    fill: lightblue;
}

.node.solar {
    fill: #FFD700;
}

.node.dsr {
    fill: seagreen;
}

.node.other {
    fill: darkgray;
}



.node_storage {
    fill: purple;
}

.link {
    stroke-width: 3;
}

.link.primary {
    stroke:black;
}

.link.secondary {
    stroke:grey;
    stroke-width: 1;
    stroke-dasharray: 3,3;
}